* , *::before , *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
}

img.bob_img {
    width: 100%;
}

.view_wrap {
    border: 5px solid #d49f45;
    padding: 10%;
    background-image: url(img/22410352.jpg);
    background-size: cover;
    text-align: center;
    margin-bottom: 10%;
}

img.top_logo {
    width: 100%;
}

.bn_wrap {
    position: relative;
}

.bn_wrap img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

img.bn_logo {
    position: absolute;
    width: 120px;
    object-fit: contain;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

p.view_title {
    display: inline-block;
    position: absolute;
    font-size: 12px;
    width: 70%;
    top: 70%;
    left: 25%;
}

nav {
    position: relative;
}

img.left {
    left: 0;
    transform: rotateY(180deg);
}

h1 {
    text-align: center;
    font-size: 30px;
    white-space: nowrap;text-shadow: 1px 1px 10px rgb(255 255 255 / 50%);
    font-family: 'Shippori Mincho', serif;
    letter-spacing: 3px;
    z-index: 1;
}

h1 span {
    color: #a02768;
    font-size: 70px;
    letter-spacing: 0;
}

.main_title p {
    font-size: 28px;
    letter-spacing: 3px;
}

.bivi {
    text-align: center;
    margin-bottom: 10%;
}

.bivi p {
    margin: 5%;
    margin-bottom: 10%;
    text-align: left;
    font-size: 14px;
}

p.top_title {
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 3px;
}

p.top_title:nth-of-type(1) {
    margin-top: 10%;
}

p.top_title span {
    font-size: 45px;
    color: #a02768;
    letter-spacing: 0;
}

h2 {
    font-size: 24px;
}

.thema {
    position: relative;
}

.thema::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 51vh;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 25% , rgba(255,255,255,0) 60%);
}

.thema img {
    width: 100%;
    height: 50vh;
    object-fit: cover;
}

.back {
    background-image: url(img/tiara.png);
    background-size: cover;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 170px;
    position: absolute;
    top: 50%;
    left: 50%;
    opacity: .3;
}

.main_title {
    font-family: 'Shippori Mincho', serif;
    margin-top: 35%;
    z-index: 1;
}

.main_title:last-child {
    text-align: center;
    margin-bottom: 10%;
}

.main_title p {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.title {
    color: #a02768;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    margin-top: 3%;
    margin-bottom: 3%;
    z-index: 1;
}

.img_wrap img {
    width: 100%;
}

.entry_contents {
    text-align: center;
    width: 100%;
    margin: 10% auto;
    padding: 10% 3%;
    box-shadow: 2px 2px 15px rgb(0 0 0 / 50%);
    
}

.frame {
    background-image: url(img/86577.png);
    background-size: cover;
    background-position: center;
    box-shadow: none;
    width: 100%;
    padding-top: 15%;
}

h2 , .entry_title {
    font-weight: bold;
    font-size: 28px;
}

.entry_sub_title {
    font-size: 14px;
    display: flex;
    justify-content: center;
    text-align: left;
    line-height: 22px;
    margin-top: 3%;
}

.entry_text {
    font-weight: bold;
    margin: 10% auto;
    font-size: 20px;
    letter-spacing: 2px;
}

@keyframes light {
    0% { left: -20%; }
    10% { left: 120%; }
    100% { left: 120%; }
}

.btn {
    background-color: #a02768;
    border-radius: 8px;
    padding: 10px;
    width: 300px;
    margin: 8% auto;
    position: relative;
    overflow: hidden;
}

.btn::before {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 8px;
    transform: scale(2) rotate(-45deg);
    background-image: linear-gradient(100deg, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, .5) 100%, rgba(255, 255, 255, 0) 0%);
    animation: light 3s ease-in-out forwards infinite;
}

.btn a {
    color: #fff;
    font-weight: bold;
    font-size: 24px;
    text-shadow: 1px 3px 5px rgba( 0, 0, 0, 0.8);
}

.notes {
    margin: 5%
}

.notes p {
    font-size: 12px;
    text-align: left;
    display: inline-block;
}

.sponsors {
    padding: 10% 5%;
}

.sponsors p , .contestants_title {
    text-align: center;
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 3%
}

.sponsors_logo {
    display: flex;
    flex-wrap: wrap;
}

.sponsors_logo img {
    width: 23%;
    border: 1px solid;
    margin: 1%;
}

.contestants {
    text-align: center;
    padding-top: 10%;
}

.contestant_wrap {
    margin: 10% 0;
}

.contrstant_reverse {
    flex-direction: row-reverse;
}

.contestant {
    display: flex;
    justify-content: center;
}

.contestant img {
    width: 60%;
    min-height: 250px;
    object-fit: cover;
}

.contestant p {
    font-size: 15px;
    font-weight: bold;
}

.contestant_text {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #a02768;
    padding: 3%;
}

p.comment {
    text-align: left;
    margin-top: 3%;
    padding: 5%;
}

p.grade {
    font-size: 17px;
    color: #ebd188;
}

p.name {
    font-size: 20px;
    color: #fff;
}

.info {
    background-color: #eee;
    text-align: center;
    padding: 10% 3%;
    padding-bottom: 0;
}

.info img {
    width: 100%;
}

.info_title {
    font-weight: bold;
    font-size: 20px;
}

.info_subtitle {
    margin: 3%;
}

video {
    width: 100%;
    height: 250px;
    margin: 0 auto;
    margin-bottom: 0;
}

iframe {
    width: 100%;
    height: 200px;
    margin: 5% auto;
    margin-bottom: 0;
}

.info_contents {
    position: relative;
}

.info_image {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10%;
}

.info_image img {
    width: 40%;
    margin: 3% 0;
}

.contents_text {
    font-size: 14px;
    text-align: left;
    margin: 10% auto;
    display: inline-block;
}

.info_wrap {
    text-align: center;
}

.entry_contents2 {
    margin: 10% auto;
}

.bom {
    text-align: center;
}

.bom p {
    margin: 5%;
    margin-bottom: 10%;
    text-align: left;
    font-size: 14px;
}

.system {
    background-color: #373c47;
    text-align: center;
    padding: 10% 3%;
}

.system_title {
    color: #ebd188;
    font-size: 20px;
}

.system_text {
    color: #fff;
    font-size: 10px;
    margin: 3% auto;
}

.gallery {
    display: flex;
    background-color: #000;
}

.gallery img {
    width: 50%;
    object-fit: cover;
}

.bom_wrap {
    text-align: center;
    padding: 10%;
    background-color: #a02768;
}

.bom_wrap img {
    width: 50%;
}

.text_wrap {
    padding: 10% 5%;
}

.bom_contents_title {
    font-weight: bold;
    color: #aaa;
    font-size: 20px;
    margin-bottom: 10%;
}

.bom_contents_text {
    font-size: 14px;
    padding: 0% 5%;
}

.entry_contents3 {
    padding: 10% 5%;
    text-align: left;
}

.entry_contents3 p {
    font-size: 14px;
}

.merit {
    margin: 10% 0;
}

.merit_title {
    font-size: 26px;
    font-weight: bold;
    color: #a02768;
    margin: 10%;
}

.merit_wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 5% 0;
}

p.merit_text {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    display: inline-block;
    text-align: left;
}

.merit_wrap img {
    width: 30px;
}

@media (min-width:768px) {

    .top_view {
        height: 200vh;
        object-fit: cover;
    }

    .top_view img {
        height: 60vh;
    }

    .view_wrap {
        margin: 15% 0 5%;
        width: 100%;
    }

    .thema::before {
        height: 61vh;
    }

    .back {
        width: 400px;
        height: 220px;
        top: 70%;
        left: 50%;
        transform: translate(-50% , -50%);
    }

    h1 {
        top: 50%;
        font-size: 60px;
    }

    h1 span {
        font-size: 80px;
    }

    .main_title p , .entry_text , .bom_contents_title {
        font-size: 32px;
    }

    .title  {
        line-height: 34px;
    }

    p.top_title {
        font-size: 60px;
    }

    p.top_title span {
        font-size: 80px;
    }

    .entry_contents {
        width: 90%;
    }

    .entry_title , .sponsors p , .contestants_title , .info_title , h2 , .system_title {
        font-size: 36px;
    }

    .entry_sub_title {
        font-size: 22px;
        line-height: 36px;
    }

    .notes p {
        font-size: 16px;
    }

    .btn {
        padding: 30px;
        width: 500px;
        margin: 5% auto;
    }

    .btn a , .system_text , .bom_contents_text , .entry_contents3 p {
        font-size: 24px;
    }

    .contestant p , .info_subtitle , .contents_text {
        font-size: 20px;
    }

    video {
        height: 612px;
    }

    iframe {
        height: 612px;
        margin: 0;
    }

    iframe:last-of-type {
        margin-top: 5%;
    }

    .box {
        display: flex;
        margin: 5% 0;
    }

    .box.reverse {
        flex-direction: row-reverse;
    }

    .info img {
        width: 50%;
    }

    .bom p {
        font-size: 30px;
    }

    .info {
        padding-bottom: 0;
    }

    .frame {
        background-size: cover;
        padding-top: 10%;
    }

    p.comment {
        max-width: 600px;
        margin: auto;
        font-size: 20px;
    }

    .merit_title {
        font-size: 32px;
    }

}

